@import '@styles/colors';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $light-background-color;
  color: $light-text-color;
  padding: 0;
  margin: 0;
}
