.App {
  text-align: center;
  display: block;
  position: absolute;
}

.LeftPad {
  position: absolute;
  left: 0;
  top: 0;
  width: 384px;
  height: 90vh;
  border: 1px dotted red;
}

.RightPad {
  position: absolute;
  left: calc(60vw + 384px);
  top: 0;
  width: 10vw;
  min-width: 384px;
  height: 90vh;
  border: 1px dotted red;
}

.MainView {
  position: absolute;
  left: 384px;
  top: 0;
  height: 90vh;
  width: 60vw;
  border: 1px dotted blue;
}

.Footer {
  position: absolute;
  left: 0px;
  top: 90vh;
  border: 1px dotted green;
  height: 10vh;
  min-height: 80px;
  width: 100vw;
  min-width: 500px;
}
