#cityhallimg{
    left: 100px;
    width: 100px;
    height: 100px;
    background: url('../../../public/images/city.png') 100px 100px;
}

#barracksimg{
    left: 300px;
    width: 100px;
    height: 100px;
    background: url('../../../public/images/city.png') 400px 400px;
}

#forgeimg{
    left: 500px;
    width: 100px;
    height: 100px;
    background: url('../../../public/images/city.png') 200px 200px;
}